@using RavenOverflow.Web.Models
@model IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header 
{
    @Model.Header
}

@if (Model == null)
{
    <p>No questions have been asked.</p>
}
else
{
    Html.RenderPartial("_QuestionList", Model.Questions);
}