@model RavenOverflow.Web.Views.Home.IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>question list</h2>

@if (Model == null)
{
    <p>No questions have been asked.</p>
}
else
{
    Html.RenderPartial("_QuestionList", Model.Questions);
}