@using RavenOverflow.Web.Models.ViewModels
@model IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header 
{
    @Model.Header
}

@if (Model == null)
{
    <p>No questions have been asked.</p>
}
else
{
    Html.RenderPartial("_QuestionList", Model.Questions);
    Html.RenderPartial("_UserTagList", Model.UserFavoriteTagListViewModel);
    Html.RenderPartial("_UserTagList", Model.UserIgnoredTagList);
    Html.RenderPartial("_TagListVertical", Model.RecentPopularTags);
}