@using RavenOverflow.Web.Views.Home
@model TaggedQuestionsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <p>No questions have been asked.</p>
}
else
{
    Html.RenderPartial("_QuestionList", Model.Questions);
}
