@using RavenOverflow.Web.Models
@model _MainNavigationViewModel
<div id="topbar">
    <h3>@Html.ActionLink("Index - 3 DB roundtrips","Index", "Home") ||
        @Html.ActionLink("BatchedIndex - 1 DB roundtrip", "BatchedIndex", "Home") ||
        @Html.ActionLink("AggressiveIndex - 1 DB roundtrip + Clientside Caching", "AggressiveIndex", "Home")
    </h3>
    <hr/>
    
</div>
