<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="CuttingEdge.Conditions" version="1.2.0.0" />
  <package id="MagicalUnicornMvcErrorToolkit" version="1.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="RavenDB.Client" version="2.0.2261" targetFramework="net40" />
  <package id="RavenDB.Client.MvcIntegration" version="2.0.2261" targetFramework="net40" />
  <package id="RestSharp" version="104.1" targetFramework="net40" />
  <package id="routedebugger" version="2.1.4.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="StructureMap.MVC3" version="1.0.8" />
  <package id="WebActivator" version="1.5" />
  <package id="WorldDomination.Security" version="0.4.0" targetFramework="net40" />
  <package id="WorldDomination.Web.Authentication" version="0.16.0" targetFramework="net40" />
  <package id="WorldDomination.Web.Authentication.Mvc" version="0.16.0" targetFramework="net40" />
</packages>