<h2>Authentication</h2>

<div id="register-wrap">
        <p>Sign in using one of the providers below.</p>
        <div id="register-providers">
            <ul>
                <li>@Html.ActionLink("Twitter", "AuthenticateWithTwitter", "Account")</li>
                <li>@Html.ActionLink("Facebook", "AuthenticateOAuth", "Account")</li>
            </ul>
        </div>
</div>