@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h2>404 Not Found</h2>

<p align="center"><img src="/Content/Images/Error/NotFound.jpg" alt="zomg it's a 404 not found error page!" /></p>
