@{
    ViewBag.Title = "ServerError";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h2>500 Server Error</h2>

<p align="center">
    <img src="/Content/Images/Error/ServerError.jpg" alt="Sad Panda makes it a 500 Server Error :~(" />
</p>